paramiko==2.10.3
smtplib   # smtplib is part of Python's standard library, no need to install separately.
email      # email is also part of Python's standard library, no need to install separately.
